/**
 * Vertical alignment utilities
 * Depends on an appropriate `display` value.
 */

.u-align-baseline {
	vertical-align: baseline !important;
}

.u-align-bottom {
	vertical-align: bottom !important;
}

.u-align-middle {
	vertical-align: middle !important;
}

.u-align-top {
	vertical-align: top !important;
}