// 
// Text overflow
// ------------------------------

// Gratefully taken from https://github.com/twbs/bootstrap

.text-overflow(@display: block) {
	display: @display;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
