// 
// Blank State (empty list)
// ==============================

.BlankState {
	background-color: @blankstate-bg;
	border-radius: @blankstate-border-radius;
	color: @blankstate-color;
	padding: @blankstate-padding-vertical @blankstate-padding-horizontal;
	text-align: center;
}

.BlankState__heading {
	color: inherit;
	
	&:last-child {
		margin-bottom: 0;
	}
}