//
// Card
// ==============================

.Card {
  background-color: @card-bg-color;
  border-radius: @border-radius-sm;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.075), 0 0 0 1px rgba(0,0,0,0.1);
  margin-bottom: @spacing-md;
  padding: @spacing-md;
}
