//
// Tag
// ==============================




// base

.Tag {
	display: inline-block;
	font-size: .85em;
	font-weight: 500;
	overflow: hidden;
	line-height: 2.3em;

	& + & {
		margin-left: .5em;
	}
}


// common

.Tag__label,
.Tag__clear {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	padding: 0 1em;
	-webkit-appearance: none;

	// make pills
	&:first-child { .border-left-radius(2em); }
	&:last-child { .border-right-radius(2em); }
}


// label

.Tag__label {
	margin-right: 1px;
}


// clear

.Tag__clear {
	margin-left: 1px;
}

// Variants
// ------------------------------

.Tag--default > .Tag__label,
.Tag--default > .Tag__clear {
	.tag-variant(@tag-default-color; @tag-default-bg);
}
.Tag--primary > .Tag__label,
.Tag--primary > .Tag__clear {
	.tag-variant(@tag-primary-color; @tag-primary-bg);
}
.Tag--success > .Tag__label,
.Tag--success > .Tag__clear {
	.tag-variant(@tag-success-color; @tag-success-bg);
}
.Tag--warning > .Tag__label,
.Tag--warning > .Tag__clear {
	.tag-variant(@tag-warning-color; @tag-warning-bg);
}
.Tag--danger > .Tag__label,
.Tag--danger > .Tag__clear {
	.tag-variant(@tag-danger-color; @tag-danger-bg);
}









